node_modules
build
dist
**/dist
.react-router
.turbo
.eslintcache
**/.eslintcache
.prettiercache
**/.prettiercache
pnpm-lock.yaml
**/playwright-report/
**/test-results/
s3-bucket
**/s3-bucket
scratch
**/scratch
